# ===============================

# Python

# ===============================

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ===============================

# Virtual Environments

# ===============================

.env
.venv
env/
venv/
ENV/

# ===============================

# Jupyter Notebook

# ===============================

.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# ===============================

# OS / Editor

# ===============================

.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================

# Logs & Temp files

# ===============================

*.log
*.tmp
*.swp
*.bak

# ===============================

# Secrets

# ===============================

*.env
.env.*
secrets/
